<p class="title">
    <b>ลงทะเบียนทํากรมธรรม์ทรัพย์สิน</b>
</p>
<div class="body">
    
    <div class="register_form">  
        <div class="title_form">Username:<input type="text" placeholder="username"></div>  
        <div class="title_form">Password:<input type="password" placeholder="password"></div>  
        <div class="title_form">Firstname:<input type="text" placeholder="Firstname"></div>  
        <div class="title_form">Lastname:<input type="text" placeholder="Lastname"></div>  
        <div class="title_form">Telephone:<input type="text" placeholder="Phone"></div>  
        <div class="title_form">Address:<input style="margin-left: 20px;" type="text" placeholder="Address"></div>  
        <div class="title_form">Email:<input style="margin-left: 35px;" type="text" placeholder="Email"></div>  
    </div>

    <button mat-flat-button>SUBMIT</button>      


    

</div>