.title{
    color: #2E4174;
    font-size:36px ;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;

}

.body{
    /* border: 1px solid grey; */
    height: 100%;
    margin-left: 300px;
    margin-right: 300px;
    background-image:url("/assets/image3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
