<p class="title">Small-Medium Assets Insurance</p>
<div class="home">
    <div class="left">
        <h2>Welcome</h2>

    </div>
    <div class="right">
        <div class="grid-container">
            <div class="grid-item" 
            routerLink="/insure" routerLinkActive="active"
            style="border-top: none;border-bottom: none;
            border-left: none;border-right: none;">
            <mat-icon>queue</mat-icon>
            <p class="icon_title">ADD ASSETS</p>
        </div>
        <div class="grid-item" style="border-top: none;border-bottom: none;
            border-right: none;">
            <mat-icon>list_alt</mat-icon>
        </div>
         <div class="grid-item" style="border-bottom: none;
            border-left: none;"><mat-icon>info</mat-icon>
         </div>  
         <div class="grid-item" style="border-bottom: none;
            border-right: none;border-left: none;"><mat-icon>settings</mat-icon>
         </div>
              
            
    </div>
</div> 


