<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span style="font-size: 30px;margin-left: 5px;">
        <a style=" color: white;
        text-decoration: none;" routerLink="/home" routerLinkActive="active">SMA 
        <span style="font-size: 20px;">
          INSURE
        </span></a> 
      </span>
      <span><mat-icon>eco</mat-icon></span>
      <span class="spacer"></span>
        <div class="menu">
          <a mat-list-item routerLink="/product" routerLinkActive="active">ASSETS INSURANCE</a>
          <a mat-list-item routerLink="/register" routerLinkActive="active">GET A QUOTE</a>
          <a mat-list-item routerLink="/aboutus" routerLinkActive="active">ABOUT US</a>
        </div>
      
        
        <button mat-flat-button  routerLink="/profile" routerLinkActive="active"
        style="background-color:#6D7BB3;margin-left: 10px;padding: 5px 12px 5px 12px;">GET STARTED</button>      
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet>

  <!-- <div class="foot">
    <p>Footer</p>
  </div> -->
