<p class="title">
    <b>ASSETS INSURANCE</b>
</p>
<div class="body">
    <br>
    <p class="detail"><b>DETAILS</b></p>
    <div class="slot" (click)="show()">
        <span class="detail1">INSURANCE PLAN</span>
        <span class="spacer"></span>
        <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
    <div class="slot">
        <span class="detail1">WHAT KIND OF ASSETS</span>
        <span class="spacer"></span>
        <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
    <div class="slot">
        <span class="detail1">WHAT KIND OF BUSINESS</span>
        <span class="spacer"></span>
        <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
    <div style="display: flex;justify-content: center;">
        <button routerLink="/register" routerLinkActive="active" mat-flat-button style="background-color:#6D7BB3;  
    height: 70px;    
    width: 250px;
    margin-top: 20px;
    font-size:24px ;
    ">
    GET A QUOTE</button>
    </div>

</div>