<p class="title">
    <b>ประกันภัยทรัพย์สิน</b>
</p>
<div class="body">
    <br>
    <p class="detail"><b>รายระเอียด</b></p>
    <div class="slot" (click)="show()">
        <span class="detail1">แผนประกันทรัพย์สิน</span>
        <span class="spacer"></span>
        <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
    <div class="slot">
        <span class="detail1">ทรัพย์สินที่สามารถเอาประกันภัย</span>
        <span class="spacer"></span>
        <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
    <div class="slot">
        <span class="detail1">กลุ่มประเภทธุรกิจที่รับประกันภัย</span>
        <span class="spacer"></span>
        <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
    <div style="display: flex;justify-content: center;">
        <button routerLink="/register" routerLinkActive="active" mat-flat-button style="background-color:#6D7BB3;  
    height: 70px;    
    width: 250px;
    margin-top: 20px;
    font-size:24px ;
    ">
    ลงทะเบียนกรมธรรม์</button>
    </div>

</div>