<p class="title">Small-Medium Assets Insurance</p>
<div class="home">
    <!-- <input
  style="display: none"
  type="file" (change)="onFileChanged($event)"
  #fileInput>
<button (click)="fileInput.click()">Select File</button>
<button (click)="onUpload()">Upload!</button> -->

<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>INFORMATION</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- <div style="width: 500px;">
        
      </div> -->
      <div class="body"><p>
        Please imform the following forms.
        </p>
        
      </div>
        
    </mat-card-content> 
  </mat-card>
  
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>ASSETS</mat-card-title>
      <div style="width: 500px;">
        <mat-icon>image</mat-icon>
      </div>
    </mat-card-header>
    
       <img mat-card-image style="height: 400px;
       background-color: white;
       "
     src="./assets/ad.jpg" > 
    
    
    <mat-card-content>
      <p>
        Please chooses image of assets you want.
      </p>
    </mat-card-content>
    <mat-card-actions><input
        style="display: none"
        type="file" (change)="onFileChanged($event)"
        #fileInput>
      <button mat-button style="background-color: #6d7bb3;"  (click)="fileInput.click()">Select File</button>
      <button mat-button style="background-color: #6d7bb3;"(click)="onUpload()" >Upload</button>
    </mat-card-actions>
  </mat-card>
  
</div> 
<div style="display: flex;justify-content: center;">
    <button routerLink="/register" routerLinkActive="active" mat-flat-button style="background-color:#6D7BB3;  
height: 70px;    
width: 250px;
margin-top: 80px;
font-size:24px ;
">
SUBMIT</button>
</div>