.title{
    font-size: 60px;
    margin:30px;
    margin-top: 60px;
    color: #2E4174;
    text-align: center;
    line-height: initial;
    font-weight: bold;

}
.home{
    height: fit-content;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    gap: 50px;
}
.body{
    width: 500px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    
}
.mat-card {
    background: #2E4174;
    color: #fff;
    padding: 50px;
}

.example-card {
    max-width: 500px;
    
  }
  .form{
    /* text-align: center; */
    margin-top: 15px;
    display: flex;
    flex-direction: column;

    
  }
input{
  padding: 20px;
  margin-top: 5px;
}  
label{
  margin-right: 10px;
  font-size: 20px;
  font-weight: 100;
  /* position: relative; */
  /* right: 100px; */
}
  
  .example-header-image {
    background-size: cover;
    background-color: white;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
